# Nebraska Medicaid Verification Request

**DEPARTMENT OF HEALTH AND HUMAN SERVICES**
PO BOX 2992
OMAHA NE 68103-2992

**Case Number:** 00895292
**Case Name:** THOMAS BURBACH
**CONTACT:** Medicaid
**Fax Number:** (402) 742-2351
**Date of Notice:** 02-18-2026

MICHAELEANE ROYCE
17200 W MOUNTAINAIR ST
SURPRISE AZ 85388

---

## **VERIFICATION REQUEST**

In order to determine initial or continued eligibility for assistance, you must **return the following verification items by 03-20-2026. DHHS is required to assist you in obtaining requested verifications.** Contact us at the telephone number below if you are unable to obtain the requested verifications. Provide the requested verifications to the office address listed above or FAX to the number above or submit online at [http://www.ACCESSNebraska.ne.gov](http://www.ACCESSNebraska.ne.gov).

**Do not send original documents as the Department will not be able to return your documents.**

Failure to provide verifications by 03-20-2026 could result in the denial, termination or decrease in your benefits.

Listed below are the verification items needed, the person we need them for, and the programs that require them in order to determine eligibility.

**Other**
* Health Insurance Card (copy both sides)
THOMAS A BURBACH - MEDICAID

**Comment(s)** - Thomas,

Nebraska DHHS has information you currently have insurance with [United HealthCare] through an employer with [Haleon]. Please provide a copy of your insurance card (both front and back of your insurance card) to Nebraska DHHS.

Nebraska DHHS will also need the following information in regards to your insurance:

1. Copy of Insurance Card (both front and back)
2. Insurance Company Name
3. Policy Holder
4. Start Date of insurance
5. Type of Insurance (Health, Dental, Vision, Prescription, etc.)
6. Household members active under Insurance
7. Mailing Address of Insurance Company
8. If insurance has terminated - Please provide a termination of benefits from the insurance company

---

## Page 2

Please ensure all documents are clear and legible and have your signature, the date, and your case number/ social security number on them. You may submit documents in the following ways:

* Drop off at local offices
* Mail to P.O. Box 2992 Omaha, NE 68103
* Fax to (402) 742-2351
* Email to DHHS.ANDICENTER@nebraska.gov
* By visiting us online via any internet accessible device, at: www.AccessNebraska.ne.gov. Simply take a picture of your verification, save as a PDF, JPEG or other acceptable file and submit.

If you have any questions, please feel free to contact DHHS at 855-632-7633 (Toll free Medicaid); 402-595-1178 (Omaha Medicaid); 402-473-7000 (Lincoln Medicaid); or 1-800-383-4278 (Economic Assistance).

Thank you

| Economic Assistance | Go online: | Nebraska Medicaid Eligibility |
| --- | --- | --- |
| Toll Free: (800) 383-4278 | iserve.nebraska.gov | Toll Free: (855) 632-7633 |
| Lincoln: (402) 323-3900 | | Lincoln: (402) 473-7000 |
| Omaha: (402) 595-1258 | | Omaha: (402) 595-1178 |

Verification Request | Page 2 of 2 | 21577612
